@import '../../../root.scss';

.container {
  margin-top: 16px;
  margin-left: inherit;
  width: 100%;
  overflow-y: hidden;
}

.tabContainer {
  margin-top: 16px;
  padding-left: 1rem;
  background-color: #ffffff;
}

.tabContainer li button {
  width: 100% !important;
}
// TODO: look into the border top color for the tabs.
