// welcome section
.container{
    margin-top: 16px;
}

.welcome {
  height: 22px;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #525252;
}

.welcomeDetails{
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userwelcome {
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #161616;
}

.currentDate {
    display: flex;
    flex-direction: row;
    padding-left: 30%;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: right;
  color: #525252;
}

.calendarIcon{
    width: 25px;
    height: 25px;
    padding-right: 1px;
}

