@import "../../root.scss";

.headerWrapper {
    width: 100%;
    display: flex;
    height: 5.5rem;
    top: 48px;
    position:sticky;
    background: #ffffff;
    z-index: -1;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.vl{
    border-left: 0.163rem solid #c6c6c6;
    height: 100%;
}

/*
* Demographics
*/
.demo {
    width: 50%;
    margin-left: 1rem;
    margin-top: 10px;
}

.name {
    margin: 0 8.375rem 0.5rem 0;
    font-family: "IBM Plex Sans";
    font-size: 1.4rem;
    line-height: 1.5;
    color: #161616;
}

.details {
    font-size: 1.2rem;
    color: #525252;
    font-family: "IBM Plex Sans";
}
