@use "@carbon/styles/scss/spacing";
@import "../root.scss";

.widgetContainer {
  background-color: $ui-background;
}

.widgetHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing.$spacing-04 0 spacing.$spacing-04 spacing.$spacing-05;
}

.widgetHeaderContainer > h4:after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-01);
}

.toggleButtons {
  width: fit-content;
  margin: 0 spacing.$spacing-03;
}

.tabContainer div[role="tabpanel"] {
  padding: 0 !important;
}

.tabContainer li button {
  width: 100% !important;
}
