.medicationOrderBasketContainer {
  position: relative;
}

.medicationOrderBasketContainer > div {
  padding-bottom: 1rem;
}

.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--omrs-color-bg-medium-contrast);
  transition: 0.3s ease all;
}

.modalContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--omrs-color-ink-white);
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  background-color: var(--omrs-color-bg-medium-contrast);
  position: absolute;
}
