.medicationsSummary {
  display: grid;
  grid-gap: 25px;
}

.medicationsTable {
  width: 100%;
}

.medicationsTable thead td {
  padding: 1rem 0.25rem 1rem 1rem;
}

.medicationsTable thead {
  color: var(--omrs-color-ink-medium-contrast);
  border-bottom: 1px solid var(--omrs-color-bg-low-contrast);
}

.medicationsTable thead td span {
  font-weight: normal;
  color: var(--omrs-color-ink-medium-contrast);
}

.medicationsTable tbody td {
  padding: 0.5rem 0.25rem 0.5rem 1rem;
}

.pastMedStatus {
  background: rgba(19, 19, 21, 0.6);
  color: #fff;
}

.medicationsTable tbody td span {
  color: var(--omrs-color-ink-high-contrast);
}

.medicationsTable tbody tr {
  border-bottom: 1px solid var(--omrs-color-bg-low-contrast);
}

.medicationsFooter {
  display: flex;
  align-items: center;
  padding: 1rem 0.25rem 1rem 1rem;
  text-decoration: none;
  color: var(--omrs-color-ink-medium-contrast);
}

.medicationsFooter svg {
  margin-right: 0.5rem;
}

.medicationFooter {
  text-align: center;
}

.medicationStatus {
  position: absolute;
}

.dateLabel {
  font-weight: 500;
  color: var(--omrs-color-ink-medium-contrast);
  font-size: 1rem;
}

.emptyMedications {
  text-align: left;
  padding-left: 1rem;
  font-weight: 500;
}
