@import "../../root.scss";

.sideNav {
    padding-top: 2rem;
}

.sideNavTextHeader {
    font-size: 14px;
    padding: 0.5rem 1rem 0.5rem;
}

.sideNav :global(a.bx--side-nav__link[aria-current=page]:before),
.sideNav :global(.bx--side-nav__submenu[aria-expanded=false]:before)
{
    background-color: $brand-teal-01;
}
