@import "../../root.scss";

.sideNav {
  width: 16rem;
  padding-top: 2rem;
  min-height: 8rem;
  overscroll-behavior: contain;
  margin: 1px 13px 15px 0;
  border-right: 1px #e0e0e0;
}

.sideNavTextHeader {
  font-size: 14px;
  padding: 0.5rem 1rem 0.5rem;
}

.sideNav :global(a.bx--side-nav__link[aria-current=page]:before),
.sideNav :global(.bx--side-nav__submenu[aria-expanded=false]:before)
{
  background-color: $brand-teal-01;
}

:global(.bx--side-nav) {
  z-index: -100;
}
