@import "../../root.scss";

.container {
    background-color: #ededed;
    height: 100%;
    width: 100%;
    font-family: "IBM Plex Sans";
}

.contentWrapper {
    margin-left: 1rem;
    padding-bottom: 4rem;
}

.sectionHeading {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.375;
    letter-spacing: 0.18px;
    color: #161616;
    margin-bottom: 1.7rem;
}

.sectionLabel {
    font-size: 1.1rem;
}

.sectionOneRow {
    margin-top: 3rem;
    display: flex;
}

.chooseLocationColumn {
    width: 30%;
    margin-right: 2rem;
}

.htsDateInputColumn {
    width: 15%;
}

.idGenColumn {
    width: 30%;
}

.customToggle  label, .sectionOneRow label {
    font-size: 1.1rem !important;
}

.customToggle label span {
    font-size: 1.35rem !important;
}

.dropDownOverrides {
    max-height: 5rem;
    height: 4rem;
}

.dropDownOverrides span {
    font-size: 1.1rem;
}

.datePickerOverrides input {
    max-height: 5rem;
    height: 4rem;
    width: 9rem !important;
    font-size: 1.1rem;
}

.datePickerOverrides label {
    width: 100% !important;
}

.populationTypeWrapper {
    margin-top: 3rem;
}

.label {
    width: 100%;
    height: 1rem;
    font-size: 1.1rem;
    line-height: 1.33;
    letter-spacing: 0.32px;
    color: #525252;
    margin-bottom: 1rem;
}

.checkboxLabelOverride {
    margin-bottom: 1rem;
}

.checkboxLabelOverride span {
    color: #161616;
    height: 1.125rem;
    margin: 0 0px 0.063rem 0.5rem;
    font-family: "IBM Plex Sans";
    font-size: 1.1rem;
    line-height: 1;
    letter-spacing: 1px;
}

.contentSwitchWrapper {
    margin-bottom: 3rem;
    width: 90%;
}

.contentSwitchWrapper button {
    font-size: 1.1rem !important;
}

/*
* Form submision
*/
.submit {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

.submitButtonsOverrides button {
    max-width: 28rem !important;
    width: 25rem !important;
    max-height: 4rem !important;
    height: 3.3rem !important;
    font-size: 1rem !important;
    font-family: 'IBM Plex Sans' !important;
}