.section{
    border-radius: solid 1px rgba(107, 104, 104, 0.5);
    margin-bottom: 3.063rem;
}

.sectionTitle {
  max-Width:12rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.38;
  color: #525252;
  margin-top: 1.438rem;
  margin-bottom:1.5rem;
}

.container {
  margin-top: 1.438rem;
}
