@import '../root.scss';

.noMarker {
  list-style-type: none;
}

.currentNavItem > a {
  background-color: #e0e0e0 !important;
  color: #161616 !important;
  border-left-color: var(--brand-01) !important;
}
