.desktopView{
  display: flex;
  background-color: #ffffff;
  margin: 0px !important;
}
.tileView {
  display: none;
}

@media (max-width: 1024px) {
  .desktopView{
    display: none;
  }
  .tileView {
    display: flex;
    display: flex;
    background-color: #ffffff;
    margin: 0px !important;
  }
}
