.ohriformcontainer {
    width: 100%;
    position: fixed;
    top: 138px;
    height: calc(100vh - 50px);
    overflow: auto;
    flex: 1;
}

.ohriformcontent{
  width: 100%;
}

// complete and validated.

.title {
  margin: 0 31.5rem 1.5rem 0;
  font-size: 1.75rem;
  line-height: 1.29;
  width: 100%;
  color: #161616;
}

.ohriSidebar{
  position: fixed;
}

.sideBarHorizontalLine {
  background-color: rgba(107, 104, 104, 0.5);
  margin: 1.375rem 1.625rem 1.5rem 0.438rem;
}
