/* a container with flex-direction column */
.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin: 0px;
  overscroll-behavior: contain;
  position: fixed;
  flex-grow: 1;
  flex-shrink: 1;
}

/* the fixed sidebar content */
.sidebar {
  margin: 0px;
  padding: 0px;
  padding-left: 16px;
  flex-grow: 0.6;
  flex-shrink: 1;
  position: relative;
  overflow: scroll;
  /* Necessary to become containing block for position: fixed child */
  transform: translate3d(0, 0, 0);
}

/* the overflow content itself */
.overflowContent {
  height: inherit;
  margin: 0px;
  padding: 0px;
  flex-basis: 65%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow: scroll;
  overscroll-behavior: contain;
  padding-bottom: 40rem;
  padding-left: 5px;
}

