:global(.contextWorkspaceContainer) {
  //overflow-y: auto;
}

.ohriForm {
  height: 100%;
  overflow: hidden;
}

.ohriFormContainer {
  display: -webkit-flex;
  height: 100vh;
  overflow-y: hidden;
}

.ohriFormContainer :global(.bx--label) {
  font-size: 0.875rem;
}

.formContent {
  margin: 0;
  flex-basis: 65%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.formContentBody {
  overflow-y: auto;
  // padding-bottom: 100px;
  margin-bottom: 100px;
  width: inherit;
  position: sticky;
}

.minifiedFormContentBody {
  // padding-bottom: 34px !important;
  // height: 77.5vh;
  margin-bottom: 0px !important;
  height: 72.5vh;
}

@media (max-width: 768px) {
  .ohriFormContainer {
    height: 100vh;
  }
}

.minifiedButtons {
  width: 100%;
}

.minifiedButtons :global(.bx--btn) {
  max-width: 50%;
  height: 3.9rem;
}

.minifiedButtons > button {
  width: 50%;
}

.markdownContainer {
  padding: 1rem;
}

aside[class*='-esm-patient-chart__workspace-window__container__'] {
  border-left: 1px solid #8d8d8d !important;
}
