:global(.contextWorkspaceContainer) {
  overflow-y: auto;
}

.ohriForm {
  height: 100%;
  overflow-y: auto;
  overflow-x: scroll;
}

.ohriFormContainer {

}

.formContent {
  //height: 100vh;
  //margin: 0;
  //flex-basis: 75%;
  //flex-grow: 1;
  //flex-shrink: 1;
  //position: relative;
  //overflow-y: scroll;
  //overscroll-behavior: auto;
  //padding: 0 0 20rem 5px;
}

.mainContainer :global(.bx--label) {
  font-size: .875rem;
}

@media only screen and (max-width: 640px) {
  //
}

@media (max-width: 768px) {
  .sidebar {
    //margin: 0;
    //padding: 0 0 0 16px;
    //flex-grow: 0.6;
    //flex-shrink: 1;
    //position: relative;
    //overflow: scroll;
    //transform: translate3d(0, 0, 0);
    //flex-basis: 28%;
  }

  .formContent {
    //height: inherit;
    //margin: 0;
    //flex-basis: 75%;
    //flex-grow: 1;
    //flex-shrink: 1;
    //position: relative;
    //overflow: scroll;
    //overscroll-behavior: contain;
    //padding: 0 0 10rem 5px;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    //margin: 0;
    //padding: 0 0 0 16px;
    //flex-grow: 0.6;
    //flex-shrink: 1;
    //position: relative;
    //overflow: scroll;
    //transform: translate3d(0, 0, 0);
    //flex-basis: 23%;
  }

  //.formContent {
  //  height: inherit;
  //  margin: 0;
  //  flex-basis: 75%;
  //  flex-grow: 1;
  //  flex-shrink: 1;
  //  position: relative;
  //  overflow: scroll;
  //  overscroll-behavior: contain;
  //  padding: 0 0 10rem 5px;
  //}
}

@media (max-width: 1440px) {
  .sidebar {
    //margin: 0;
    //padding: 0 0 0 16px;
    //flex-grow: 0.6;
    //flex-shrink: 1;
    //position: relative;
    //overflow: scroll;
    //transform: translate3d(0, 0, 0);
    //flex-basis: 35%;
  }

  .formContent {
    //height: inherit;
    //margin: 0;
    //flex-basis: 65%;
    //flex-grow: 1;
    //flex-shrink: 1;
    //position: relative;
    //overflow: scroll;
    //overscroll-behavior: contain;
    //padding: 0 0 10rem 5px;
  }
}
