:global(.contextWorkspaceContainer) {
  //overflow-y: auto;
}

.ohriForm {
  height: 100%;
  overflow: hidden;
}

.ohriFormContainer {
  display: -webkit-flex;
  height: 90vh;
  overflow-y: hidden;
}

.ohriFormContainer :global(.bx--label) {
  font-size: .875rem;
}

.formContent {
  margin: 0;
  flex-basis: 65%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow-y: hidden;
  flex-direction: column;
}

.formContentBody {
  overflow-y: auto;
  height: 77.5vh;
  margin-top: 122px;
  position: fixed;
  width: 86.6%;
}

@media only screen and (max-width: 640px) {
  //
}

@media (max-width: 768px) {
  .ohriFormContainer {
    height: 100vh;
  }
  .formContentBody {
    // width: 82.2%;
  }
}

@media (max-width: 1024px) {
  .formContentBody {
    // width: 82.2%;
  }
}

@media (max-width: 1440px) {
  .formContentBody {

  }
}
