@import "../../root.scss";

.rotate {
    animation: rotation 2s infinite linear;
}

.renewSVG {
    width: 1.5rem;
    fill: #0f62fe;
}

.renewSVG:hover {
    cursor: pointer;
    fill: #525252;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.idLabel {
    @include carbon--type-style("label-01");
    color: #525252;
    font-size: 1.1rem;
}

.idText {
    font-size: 1.3rem;
}

.container {
    display: flex;
    align-items: center;
}