@import "../../../root.scss";

.container{
    margin-top: 16px;
    margin-left: inherit;
    width: 100%;
    overflow-y: hidden;
}

.container div button.bx--tabs--scrollable.bx--tabs--scrollable--container.bx--tabs--scrollable__nav-link{
    box-shadow: inset 0 2px 0 0 $brand-teal-01 !important;
    background-color: red;
}

.tabPatientList{
  width: 85rem;
}
