@use '@carbon/styles/scss/spacing';
@import '../../root.scss';

.tabContainer{
  margin-top: 16px;
  padding-left: 1rem;
  background-color: #ffffff;

}

.tabContainer li button{
  width: 100% !important;
}
