.formField {
    padding-bottom: 1rem;
}

.formInputField {
    @extend .formField;
    max-width: 22rem;
}

.numberInputWrapper :global(.bx--number) {
    @extend .formField;
    width: 15rem;
    font-size: 0.875rem;
}

.textContainer label{
    font-size: 0.875rem !important;
}