.divider {
  background-color: rgba(107, 104, 104, 0.5);
  // margin: 1rem 0 1rem 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 95%;
}

.pageTitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-gray-100);
  width: 100%;
}

.required{
  margin: 0.25rem 27rem 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1.29;
  letter-spacing: 0.16px;
  color: var(--color-gray-70);
  width: 100%;
}

.formSection {
  // flex-shrink: 1;
  flex: 1 1 65%;
}

.formSection > div > fieldset {
  margin-bottom: 0 !important;
}