.divider {
  background-color: rgba(107, 104, 104, 0.5);
  margin: 1.375rem 1.625rem 1.5rem 0.438rem;
  width: 80%;
}

.pageTitle {
  margin: 0 39.438rem 0.25rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-gray-100);
  margin-top: 1.5rem;
  max-Width: 25.55rem;
}

.required{
  margin: 0.25rem 27rem 1.438rem 0;
  font-size: 0.875rem;
  line-height: 1.29;
  letter-spacing: 0.16px;
  color: var(--color-gray-70);
  margin-bottom: 1.5rem;
}

.formSection {
    margin-top: 1.438rem;
}