.divider {
  background-color: rgba(107, 104, 104, 0.5);
  margin: 1.375rem 1.625rem 1.5rem 0.438rem;
  width: 80%;
}

.pageTitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-gray-100);
  width: 100%;
}

.required{
  margin: 0.25rem 27rem 1.438rem 0;
  font-size: 0.875rem;
  line-height: 1.29;
  letter-spacing: 0.16px;
  color: var(--color-gray-70);
  margin-bottom: 0.5rem;
  width: 100%;
}

.formSection {
  width: 100%;
}

.formSection > div > fieldset {
  margin-bottom: 0 !important;
}