.desktopView{
  visibility: visible;
}
.tileView {
  visibility: hidden;
  display: none;
}

@media (max-width: 1024px) {
  .desktopView{
    visibility: hidden;
    display: none;
  }
  .tileView {
    visibility: visible;
  }
}
