@import '../../root.scss';

.headerMenuOverrides {
  position: relative;
  z-index: 7000 !important;
  list-style-type: none;
  height: 48px;
}

.headerMenuOverrides a:hover,
.headerMenuOverrides a[aria-expanded='true'],
.headerMenuOverrides ul {
  background-color: $brand-color-01 !important;
}

.headerMenuOverrides ul li a:hover {
  background-color: $brand-color-02 !important;
}


