.noMarker {
  list-style-type: none;
}

.noMarker ul li a {
  padding-left: 40px !important; 
  font: lighter  ;
}

.currentNavItem > a {
  background-color: #cecece !important;
  color: #161616 !important;
  border-left-color: #005d5d !important;
  font: bolder ;
}

.hide {
  display: none;
}

