.noMarker {
  list-style-type: none;
}

.noMarker button {
  background-color: #e5e5e5 !important;
}

.noMarker ul li a {
  padding-left: 40px !important;
}

.currentNavItem > a {
  background-color: #e0e0e0 !important;
  color: #161616 !important;
  border-left-color: #005d5d !important;
}

.hide {
  display: none;
}