@import "../../root.scss";

.widgetContainer {
  background-color: $ui-background;
}

.newServiceEnrolmentBtn {
  //margin: 0 $spacing-03;
  margin-bottom: 0.5em;
  text-align: right;
}

.newServiceEnrolmentBtn > button {
  background-color: $ui-background;
}
