
@import '../../root.scss';

.contentSwitcherWrapper {
  padding-bottom: 50px;
}

.contentSwitcherWrapper > div {
  width: 150px;
  float: right;
}

:global(.bx--overflow-menu-options__btn) {
  max-width: 15rem !important;
}

:global(.bx--overflow-menu--flip.bx--overflow-menu-options) {
  min-width: 15rem !important;
}

:global(.bx--overflow-menu-options__btn):focus {
  outline: none;
}
