
@import '../../root.scss';

.contentSwitcherWrapper {
    padding-bottom: 50px;
  }

  .contentSwitcherWrapper > div {
    width: 150px;
    float: right;
  }

  .contentSwitcherWrapper button[aria-selected='true'] {

    background-color: $brand-color-01;
  }
