name: Node.js CI

on:
  push:
    tags:
      - '*'
    branches:
      - '*'  
  pull_request:
    branches:  
      - '*'
    types: [opened, synchronize, reopened, closed]
  release:
    types:
      - created

env:
  ESM_NAME: "openmrs-esm-ohri-form"
  JS_NAME: "openmrs-esm-ohri-form.js"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm install
      - run: npm run lint
      - run: npm run build --if-present
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            dist

  deploy:
    runs-on: ubuntu-latest

    needs: pre_release

    if: ${{ github.ref == 'refs/heads/dev' }} 

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
      - name: Compute Timestamp
        run: echo "TIMESTAMP=$(date +'%Y-%m-%d')" >> $GITHUB_ENV      
      - name: Prepare Directory
        shell: bash
        run: |
          mkdir -p dist/${{ env.ESM_NAME }}/${{ env.TIMESTAMP }}_${{ github.sha }}
          mv dist/*.* dist/${{ env.ESM_NAME }}/${{ env.TIMESTAMP }}_${{ github.sha }}/
          # Runs a set of commands using the runners shell
      - uses: garygrossgarten/github-action-ssh@release
        name: Run the Update MicroFronEnd Script
        with:
            command: cd /usr/share/tomcat/microfrontends/dev && sh update_microfrontends.sh
            host: ${{ secrets.HISTAC_HOST }}
            username: ${{ secrets.HISTAC_USERNAME }}
            privateKey: ${{ secrets.HISTAC_KEY}}
            port: ${{ secrets.HISTAC_PORT }} 
     
  pre_release:
    runs-on: ubuntu-latest

    needs: build
    
    if: ${{ github.ref == 'refs/heads/working' }} 

    steps:
      - uses: actions/checkout@v2
      - name: Download Artifacts
        uses: actions/download-artifact@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
          registry-url: "https://registry.npmjs.org"
      - run: npm install
      - run: sed -i -e "s/\(\"version\":\\s\+\"\([0-9]\+\.\?\)\+\)/\1-pre.${{ github.run_number }}/" 'package.json'
      - run: npm publish --access public --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  pre_demo:
    runs-on: ubuntu-latest

    needs: build
    
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v2
      - name: Download Artifacts
        uses: actions/download-artifact@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
          registry-url: "https://registry.npmjs.org"
      - run: npm install
      - run: sed -i -e "s/\(\"version\":\\s\+\"\([0-9]\+\.\?\)\+\)/\1-pre.${{ github.run_number }}/" 'package.json'
      - run: npm publish --access public --tag latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  working:
    runs-on: ubuntu-latest

    needs: pre_release 
    
    if: ${{ github.ref == 'refs/heads/working' }} 
    
    steps:
      # Update the Microfrontends to reflect what we have in the Working branch
      - uses: garygrossgarten/github-action-ssh@release
        name: Run the Update MicroFronEnd Script
        with:
            command: cd /usr/share/tomcat/microfrontends/working && sh update_microfrontends.sh
            host: ${{ secrets.HISTAC_HOST }}
            username: ${{ secrets.HISTAC_USERNAME }}
            privateKey: ${{ secrets.HISTAC_KEY}}
            port: ${{ secrets.HISTAC_PORT }}

  demo:
    runs-on: ubuntu-latest

    needs: pre_demo 
    
    if: startsWith(github.ref, 'refs/tags/v')
    
    steps:
      # Update the Microfrontends to reflect what we have in the Working branch
      - uses: garygrossgarten/github-action-ssh@release
        name: Run the Update MicroFronEnd Script
        with:
            command: cd /usr/share/tomcat/microfrontends/test && sh update_microfrontends.sh
            host: ${{ secrets.HISTAC_HOST }}
            username: ${{ secrets.HISTAC_USERNAME }}
            privateKey: ${{ secrets.HISTAC_KEY}}
            port: ${{ secrets.HISTAC_PORT }} 
