name: working CI

on:
  push:
    tags:
      - '*'
    branches:
      - '*'

  pull_request:
    branches:
      - '*'
    types: [opened, synchronize]
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - run: npx lerna bootstrap
      - run: npx lerna run lint -- --fix
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: packages
          path: |
            packages/**/dist

  pre_release:
    runs-on: ubuntu-latest

    needs: build

    if: ${{ github.event_name == 'push' }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'
      - run: npx lerna bootstrap 
      - run: npx lerna version patch --no-git-tag-version --no-push --yes
      - run: npx lerna version "$(node -e "console.log(require('./lerna.json').version)")-pre.${{ github.run_number }}" --no-git-tag-version --yes
      - name: setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - name: commit
        run: |
          git add .
          git commit -m "Prerelease version" --no-verify  
      - run: npm run prepublish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  release:
    runs-on: ubuntu-latest

    needs: pre_release

    if: ${{ github.event_name == 'release' }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'
      - run: npx lerna bootstrap
      - run: npm run ci:publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  working:
      runs-on: ubuntu-latest

      needs: pre_release

      if: ${{ github.ref == 'refs/heads/working' }}

      steps:
        # Update the Microfrontends to reflect what we have in the Working branch
        - uses: garygrossgarten/github-action-ssh@release
          name: Run the Update MicroFronEnd Script
          with:
              command: cd /usr/share/tomcat/microfrontends/working && /bin/bash update_microfrontends.sh
              host: ${{ secrets.HISTAC_HOST }}
              username: ${{ secrets.HISTAC_USERNAME }}
              privateKey: ${{ secrets.HISTAC_KEY}}
              port: ${{ secrets.HISTAC_PORT }}

  dev:
    runs-on: ubuntu-latest

    needs: pre_release

    if: ${{ github.ref == 'refs/heads/dev' }}

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
      - name: Compute Timestamp
        run: echo "TIMESTAMP=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - uses: garygrossgarten/github-action-ssh@release
        name: Run the Update MicroFronEnd Script
        with:
            command: cd /usr/share/tomcat/microfrontends/dev && /bin/bash update_microfrontends.sh
            host: ${{ secrets.HISTAC_HOST }}
            username: ${{ secrets.HISTAC_USERNAME }}
            privateKey: ${{ secrets.HISTAC_KEY}}

            port: ${{ secrets.HISTAC_PORT }}

  pre_demo:
    runs-on: ubuntu-latest

    needs: build

    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v2
      - name: Download Artifacts
        uses: actions/download-artifact@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
      - run: npx lerna bootstrap
      - run: npm run ci:publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  pre_demo_export_concepts:
      runs-on: ubuntu-latest

      needs: pre_demo

      if: startsWith(github.ref, 'refs/tags/v')

      steps:
        - uses: garygrossgarten/github-action-ssh@release
          name: Run iniz-exporters script to export concepts to csv file.
          with:
              command: cd /usr/share/tomcat/iniz-exporters/concepts && rm -f concepts.csv && /bin/bash run.sh -u ${{ secrets.HISTAC_DEV_DB_USER }} -p ${{ secrets.HISTAC_DEV_DB_PASSWORD }} -o concepts.csv openmrs_dev
              host: ${{ secrets.HISTAC_HOST }}
              username: ${{ secrets.HISTAC_USERNAME }}
              privateKey: ${{ secrets.HISTAC_KEY}}
              port: ${{ secrets.HISTAC_PORT }}

  demo:
    runs-on: ubuntu-latest

    needs: pre_demo_export_concepts

    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      # Update the Microfrontends to reflect what we have in the Working branch
      - uses: garygrossgarten/github-action-ssh@release
        name: Run the Update MicroFronEnd Script
        with:
            command: cd /usr/share/tomcat/microfrontends/test && sh update_microfrontends.sh
            host: ${{ secrets.HISTAC_HOST }}
            username: ${{ secrets.HISTAC_USERNAME }}
            privateKey: ${{ secrets.HISTAC_KEY}}
            port: ${{ secrets.HISTAC_PORT }}

  sandbox_demo:
    runs-on: ubuntu-latest

    needs: pre_demo_export_concepts

    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      # Update the Microfrontends to reflect what we have in the Working branch
      - uses: garygrossgarten/github-action-ssh@release
        name: Run the Update MicroFronEnd Script
        with:
          command: cd /usr/share/tomcat/microfrontends/ && /bin/bash update_microfrontends.sh
          host: ${{ secrets.SANDBOX_HOST }}
          username: ${{ secrets.SANDBOX_USERNAME }}
          privateKey: ${{ secrets.SANDBOX_KEY}}
